# Node modules
node_modules/

#build/producation output
build/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.*
.env.development.local
.env.test.local
.env.production.local
.env.production

node_modules
dist
dist-ssr
*.local

# Lockfiles (optional: commit depending on your package manager)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
